body {
    background-color: #111;
    color:#eaeaea;
}
*{
    font-family: 'Vazirmatn', sans-serif;
}
.bgimg-adjust{
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50%;
}
.course-pic {
 width: 100%;
 height: 0;
 padding-bottom: 140%;
 border-radius: 20px;
 position: relative;
}
.salam-chetori{
    width: 268.8px;
}
.page-title{
    font-size:17px;
    font-weight: 700;

}